:root {
  /* BASE COLORS */
  --color-neutral-white: #fefefe;
  --color-neutral-black: #1a1a1a;
  /* - GRAY - */
  --color-gray-100: #F8F8F8;
  --color-gray-200: #F4F4F6;
  --color-gray-300: #E1E1E1;
  --color-gray-400: #C4C7C7;
  --color-gray-500: #9DA1A1;
  --color-gray-600: #868B8B;
  --color-gray-700: #6E6E73;
  --color-gray-800: #4B5058;
  --color-gray-900: #2F2F2F;
  /* BLUE */
  --color-blue-100: #E8EAF8;
  --color-blue-200: #D4E1FF;
  --color-blue-300: #80AEFF;
  --color-blue-400: #4D94FF;
  --color-blue-500: #3B7FFF;
  --color-blue-600: #2567FF;
  --color-blue-700: #0049F0;
  --color-blue-800: #07479E;
  --color-blue-900: #0B1B2E;
  /* - BRAND LIME - */
  --color-lime-100: #FCFDE7;
  --color-lime-200: #F8FCCE;
  --color-lime-300: #F5FBB6;
  --color-lime-400: #F2FA9E;
  --color-lime-500: #EFF985;
  --color-lime-600: #ECF86E;
  --color-lime-700: #C0CD32;
  --color-lime-800: #869207;
  --color-lime-900: #596105;
  /* - GREEN - */
  --color-green-100: #41d97f1a; /* #41D97F 10% */
  --color-green-200: #BFF2D4;
  --color-green-300: #95EAB7;
  --color-green-400: #80E5A9;
  --color-green-500: #55DD8C;
  --color-green-600: #41D97F;
  --color-green-700: #36B56D;
  --color-green-800: #2A9158;
  --color-green-900: #1F6D44;
  /* - RED - */
  --color-red-100: #ff414133; /* #FF4141 20% */
  --color-red-200: #FFC6C6;
  --color-red-300: #FF9999;
  --color-red-400: #FF6666;
  --color-red-500: #FF5252;
  --color-red-600: #FF4141;
  --color-red-700: #D93636;
  --color-red-800: #B32B2B;
  --color-red-900: #8C2020;
  /* - ORANGE - */
  --color-orange-100: #e66e0033; /* #E66E00 20% */
  --color-orange-200: #FFCC99;
  --color-orange-300: #FFB366;
  --color-orange-400: #FF9933;
  --color-orange-500: #FF7F2E;
  --color-orange-600: #FF7426;
  --color-orange-700: #E66E00;
  --color-orange-800: #CC5D1F;
  --color-orange-900: #B2531A;
  /* - NAVY BLUE - */
  --color-navy-100: #E8EDF3;
  --color-navy-200: #C9D3E0;
  --color-navy-300: #AAB8CC;
  --color-navy-400: #7C92AB;
  --color-navy-500: #4F6C89;
  --color-navy-600: #2D4A69;
  --color-navy-700: #193553;
  --color-navy-800: #0B1B2E;
  --color-navy-900: #070F1C;

  /* UTILITY COLORS */
  --color-measurement: #ab008d;
  --color-measurement-2: #ffd7f8;

    /* GRADIENTS */
  /* GREY */
  --gradient-gray-100-900: conic-gradient(from 259deg at 50% 50%, var(--color-gray-900) 0deg, var(--color-gray-100) 360deg);
  --gradient-gray-100-300: linear-gradient(78deg, var(--color-gray-100) 0%, var(--color-gray-300) 100%);
  --gradient-gray-600-500: linear-gradient(45deg, var(--color-gray-600) 0.22%, var(--color-gray-500) 99.77%);
  --gradient-gray-700-500: linear-gradient(45deg, var(--color-gray-700) 0%, var(--color-gray-500) 100%);
  --gradient-gray-900-800: linear-gradient(35deg, var(--color-gray-900) 0%, var(--color-gray-800) 100%);
  /* BRAND */
  --gradient-brand-custom: conic-gradient(from 148deg at 50% 50%, #86D2FF 48.461540937423706deg, #B9F0FF 113.23753237724304deg, #1C83E6 167.2337257862091deg, #2F5AD1 192.91964292526245deg, #2F5AD1 257.09370374679565deg, #4F4DC6 346.913480758667deg);
  --gradient-brand-100-300: linear-gradient(78deg, var(--color-gray-100) 0.45%, var(--color-blue-300) 99.55%);
  --gradient-brand-600-500: linear-gradient(78deg, var(--color-blue-600) 0%, var(--color-blue-500) 100%);
  --gradient-brand-700-500: linear-gradient(45deg, var(--color-blue-700) 0%, var(--color-blue-500) 100%);
  --gradient-brand-900-800: linear-gradient(45deg, var(--color-blue-900) 0%, var(--color-blue-800) 100%);
  --gradient-brand-custom-2: linear-gradient(117deg, #4F4DC6 0.01%, #1C83E6 50%, #B9F0FF 99.99%);
}

@theme {
  /* I - FONT */
  --font-inter: "Inter", sans-serif;

  /* BASE COLORS */
  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-300: var(--color-gray-300);
  --color-gray-400: var(--color-gray-400);
  --color-gray-500: var(--color-gray-500);
  --color-gray-600: var(--color-gray-600);
  --color-gray-700: var(--color-gray-700);
  --color-gray-800: var(--color-gray-800);
  --color-gray-900: var(--color-gray-900);

  --color-blue-100: var(--color-blue-100);
  --color-blue-200: var(--color-blue-200);
  --color-blue-300: var(--color-blue-300);
  --color-blue-400: var(--color-blue-400);
  --color-blue-500: var(--color-blue-500);
  --color-blue-600: var(--color-blue-600);
  --color-blue-700: var(--color-blue-700);
  --color-blue-800: var(--color-blue-800);
  --color-blue-900: var(--color-blue-900);

  --color-lime-100: var(--color-lime-100);
  --color-lime-200: var(--color-lime-200);
  --color-lime-300: var(--color-lime-300);
  --color-lime-400: var(--color-lime-400);
  --color-lime-500: var(--color-lime-500);
  --color-lime-600: var(--color-lime-600);
  --color-lime-700: var(--color-lime-700);
  --color-lime-800: var(--color-lime-800);
  --color-lime-900: var(--color-lime-900);

  --color-green-100: var(--color-green-100);
  --color-green-200: var(--color-green-200);
  --color-green-300: var(--color-green-300);
  --color-green-400: var(--color-green-400);
  --color-green-500: var(--color-green-500);
  --color-green-600: var(--color-green-600);
  --color-green-700: var(--color-green-700);
  --color-green-800: var(--color-green-800);
  --color-green-900: var(--color-green-900);

  --color-red-100: var(--color-red-100);
  --color-red-200: var(--color-red-200);
  --color-red-300: var(--color-red-300);
  --color-red-400: var(--color-red-400);
  --color-red-500: var(--color-red-500);
  --color-red-600: var(--color-red-600);
  --color-red-700: var(--color-red-700);
  --color-red-800: var(--color-red-800);
  --color-red-900: var(--color-red-900);

  --color-orange-100: var(--color-orange-100);
  --color-orange-200: var(--color-orange-200);
  --color-orange-300: var(--color-orange-300);
  --color-orange-400: var(--color-orange-400);
  --color-orange-500: var(--color-orange-500);
  --color-orange-600: var(--color-orange-600);
  --color-orange-700: var(--color-orange-700);
  --color-orange-800: var(--color-orange-800);
  --color-orange-900: var(--color-orange-900);

  --color-navy-100: var(--color-navy-100);
  --color-navy-200: var(--color-navy-200);
  --color-navy-300: var(--color-navy-300);
  --color-navy-400: var(--color-navy-400);
  --color-navy-500: var(--color-navy-500);
  --color-navy-600: var(--color-navy-600);
  --color-navy-700: var(--color-navy-700);
  --color-navy-800: var(--color-navy-800);
  --color-navy-900: var(--color-navy-900);

  --color-measurement: var(--color-measurement);
  --color-measurement-2: var(--color-measurement-2);


  /* II - COLORS VARIABLES */
  /* NEUTRAL */
  --color-neutral-black: var(--color-neutral-black);
  --color-neutral-white: var(--color-neutral-white);
  --color-neutral: var(--color-neutral-white);
  --color-neutral-high: var(--color-gray-800);
  --color-neutral-high-hover: var(--color-gray-700);
  --color-neutral-mid-high: var(--color-gray-700);
  --color-neutral-mid-high-hover: var(--color-gray-500);
  --color-neutral-mid: var(--color-gray-500);
  --color-neutral-mid-hover: var(--color-gray-400);
  --color-neutral-mid-soft: var(--color-gray-400);
  --color-neutral-mid-soft-hover: var(--color-gray-300);
  --color-neutral-soft: var(--color-gray-200);
  --color-neutral-soft-hover: var(--color-gray-300);
  --color-neutral-ultrasoft: var(--color-gray-100);
  --color-neutral-ultrasoft-hover: var(--color-gray-200);

  /* BRAND */
  --color-brand-primary: var(--color-blue-600);
  --color-brand-hover: var(--color-blue-400);
  --color-brand-secondary: var(--color-blue-900);
  --color-brand-alt: var(--color-lime-600);
  --color-surface-brand-secondary: var(--color-blue-100);

  /* SUCCESS */
  --color-success-primary: var(--color-green-600);
  --color-success-hover: var(--color-green-400);
  --color-success-secondary: var(--color-green-900);
  --color-surface-success-secondary: var(--color-green-100);

  /* WARNING */
  --color-warning-primary: var(--color-orange-600);
  --color-warning-hover: var(--color-orange-400);
  --color-warning-secondary: var(--color-orange-900);
  --color-surface-warning-secondary: var(--color-orange-100);

  /* ERROR */
  --color-error-primary: var(--color-red-600);
  --color-error-hover: var(--color-red-400);
  --color-error-secondary: var(--color-red-900);
  --color-surface-error-secondary: var(--color-red-100);

  /* UTILITIES */
  --color-utility-overlay: var(--color-black);
  --color-utility-measurement: var(--color-measurement);
  --color-utility-scrim: #ffffffcc;
  --color-utility-blanket: #000000b3;
  --color-surface-utility-overlay: #00000080;
  --color-surface-utility-measurement: var(--color-measurement-2);

  /* TRANSPARENCY */
  --color-transparent-brand-50: #e8eaf880;
  --color-transparent-low-70: #f4f4f6b3;
  --color-transparent-background-10: #fefefe1a;

  /* III - LAYOUT */
  /* RADIUS */
  --radius-none: 0px;
  --radius-2xs: 4px;
  --radius-xs: 6px;
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 32px;
  --radius-2xl: 40px;
  --radius-full: 9999px;

  /* IV - FONT */
  --font-inter: "Inter", sans-serif;

  /* WEIGHTS */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Display */
  --text-display-large: 80px;
  --text-display-large--line-height: 84px;
  --text-display-large--letter-spacing: -3.7px;
  --text-display-large--font-weight: var(--font-weight-semibold);

  --text-display-mid: 62px;
  --text-display-mid--line-height: 62px;
  --text-display-mid--letter-spacing: -3.1px;
  --text-display-mid--font-weight: var(--font-weight-semibold);

  --text-display-small: 48px;
  --text-display-small--line-height: 50px;
  --text-display-small--letter-spacing: -2.88px;
  --text-display-small--font-weight: var(--font-weight-semibold);

  /* Headlines */
  --text-headline-large: 40px;
  --text-headline-large--line-height: 44px;
  --text-headline-large--letter-spacing: -2.8px;
  --text-headline-large--font-weight: var(--font-weight-semibold);

  --text-headline-mid: 30px;
  --text-headline-mid--line-height: 36px;
  --text-headline-mid--letter-spacing: -1.8px;
  --text-headline-mid--font-weight: var(--font-weight-semibold);

  --text-headline-small: 24px;
  --text-headline-small--line-height: 28.8px;
  --text-headline-small--letter-spacing: -1.27px;
  --text-headline-small--font-weight: var(--font-weight-semibold);

  /* Paragraphs */
  --text-paragraph-large: 18px;
  --text-paragraph-large--line-height: 22px;
  --text-paragraph-large--letter-spacing: -0.9px;
  --text-paragraph-large--font-weight: var(--font-weight-medium);

  --text-paragraph-mid: 16px;
  --text-paragraph-mid--line-height: 22.4px;
  --text-paragraph-mid--letter-spacing: -0.8px;
  --text-paragraph-mid--font-weight: var(--font-weight-medium);

  --text-paragraph-small: 14px;
  --text-paragraph-small--line-height: 18.3px;
  --text-paragraph-small--letter-spacing: -1.12px;
  --text-paragraph-small--font-weight: var(--font-weight-regular);

  --text-paragraph-small-regular: 14px;
  --text-paragraph-small-regular--line-height: 18.3px;
  --text-paragraph-small-regular--letter-spacing: -1.12px;
  --text-paragraph-small-regular--font-weight: var(--font-weight-regular);

  /* Labels */
  --text-label-large: 20px;
  --text-label-large--line-height: 26.8px;
  --text-label-large--letter-spacing: -1px;
  --text-label-large--font-weight: var(--font-weight-medium);

  --text-label-mid: 17px;
  --text-label-mid--line-height: 22px;
  --text-label-mid--letter-spacing: -1px;
  --text-label-mid--font-weight: var(--font-weight-medium);

  --text-label-small: 15px;
  --text-label-small--line-height: 18px;
  --text-label-small--letter-spacing: -0.9px;
  --text-label-small--font-weight: var(--font-weight-semibold);

  --text-label-extra-small: 10px;
  --text-label-extra-small--line-height: 14px;
  --text-label-extra-small--letter-spacing: -0.5px;
  --text-label-extra-small--font-weight: var(--font-weight-semibold);

  --text-label-styled: 8px;
  --text-label-styled--line-height: 13.81px;
  --text-label-styled--letter-spacing: 1.74px;
  --text-label-styled--font-weight: var(--font-weight-medium);

  --text-label-bold: 16px;
  --text-label-bold--line-height: 14.4px;
  --text-label-bold--letter-spacing: -0.32px;
  --text-label-bold--font-weight: var(--font-weight-medium);

  --text-label-inputs: 9px;
  --text-label-inputs--line-height: 11.3px;
  --text-label-inputs--letter-spacing: 0.18px;
  --text-label-inputs--font-weight: var(--font-weight-medium);

  /* Links */
  --text-link-button: 14px;
  --text-link-button--line-height: 18px;
  --text-link-button--letter-spacing: -0.84px;
  --text-link-button--font-weight: var(--font-weight-medium);

  --text-link-mid: 14px;
  --text-link-mid--line-height: 12.6px;
  --text-link-mid--letter-spacing: -0.42px;
  --text-link-mid--font-weight: var(--font-weight-medium);

  /* SHADOWS */
   --shadow-xs: 0px 1px 2px 0px rgba(120, 120, 128, 0.08);
   --shadow-sm: 0px 1px 3px 0px rgba(120, 120, 128, 0.08), 0px 1px 2px 0px rgba(120, 120, 128, 0.08);
   --shadow-md: 0px 4px 12px 0px rgba(120, 120, 128, 0.16);
   --shadow-lg: 0px 12px 16px -4px rgba(120, 120, 128, 0.16), 0px 4px 6px -2px rgba(120, 120, 128, 0.16);
   --shadow-xl: 0px 20px 24px -4px rgba(120, 120, 128, 0.16), 0px 8px 8px -4px rgba(120, 120, 128, 0.16);
   --shadow-2xl: 0px 24px 48px -12px var(--color-gray-400);
   --shadow-3xl: 0px 32px 64px -12px var(--color-gray-400);

   /* BLUR */
  --blur-sm: 4px;
  --blur-md: 8px;
  --blur-lg: 12px;
  --blur-xl: 20px;
}

@source "./**/*.{js,jsx,ts,tsx}";
