.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
storybook-static/

package-lock.json
.DS_Store
github
icons-react/dist/
dist/

packages/icons*/icons/*
packages/icons*/src/icons/*
packages/icons*/src/icons.js
packages/icons*/src/icons.ts
packages/icons*/LICENSE
packages/icons*/stats/*
packages/icons*/icons/*

.sass-cache
!/**/.gitkeep
*.tgz
todo.txt
