.changeset
.github
.husky
.build

**/dist
**/storybook-static
**/.storybook
**/.turbo


**/tsconfig.json

**/pnpm-lock.yaml

**/eslint.config.*

**/package.json
**/icons.json
**/icons-*.json
**/vite.config.ts
**/vitest.shims.d.ts
