@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "@diditui/core/theme.css";

body {
  @apply bg-neutral-white text-neutral-black font-inter;
}


.gradient-gray-100-900 {
  background: var(--gradient-gray-100-900);
}

.gradient-gray-100-300 {
  background: var(--gradient-gray-100-300);
}

.gradient-gray-600-500 {
  background: var(--gradient-gray-600-500);
}

.gradient-gray-700-500 {
  background: var(--gradient-gray-700-500);
}

.gradient-gray-900-800 {
  background: var(--gradient-gray-900-800);
}

.gradient-band-custom {
  background: var(--gradient-band-custom);
}
.gradient-band-custom-2 {
  background: var(--gradient-band-custom-2);
}

.gradient-band-100-300 {
  background: var(--gradient-band-100-300);
}

.gradient-band-600-500 {
  background: var(--gradient-band-600-500);
}

.gradient-band-700-500 {
  background: var(--gradient-band-700-500);
}

.gradient-band-900-800 {
  background: var(--gradient-band-900-800);
}
